*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 1 rem is 10px*/
  font-size: 62.5%;
}

body {
  line-height: 1.7;
  color: #f3f8f2;
  padding: 3rem;
  box-sizing: border-box;
}

nav {
  padding: 1rem;
  box-sizing: border-box;
}

.navbar-brand .navbar-item {
  bottom: .5rem;
}

.header {
  height: 95vh;
}

.header__print {
  height: 95vh;
  background-size: cover;
  background-position: top;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba(102, 51, 0, 1),
      rgba(246, 254, 170, 0.8)
    ),
    url(./img/leaves_green.jpeg);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.header__icon-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header__icon {
	display: block;
	animation-name: moveInLeft;
	animation-duration: 3s;
}

.header__main-text {
	display: block;
  	font-size: 2rem;
  	color: rgba(0, 51, 0, 1);
  	letter-spacing: 3px;
  	text-shadow: 3px 2px rgba(102, 51, 0, 1);
  	font-family: "Permanent Marker", cursive;
  	animation-name: moveInRight;
  	animation-duration: 3s;
}

#tile--parent {
	margin: 3rem;
	font-family: 'Istok Web', sans-serif;
	color: black;
}

#home-row {
	text-align: center;
	display: block;
	margin: 4rem;
}

#home-row .home--row__subheading {
	line-height: 1.5rem;
	letter-spacing: .2rem;
	margin-right: 2rem;
	margin-left: 2rem;
}

#level-section {
	margin: 0;
}

.level {
	height: 80vh;
}

#left-level-one {
	margin-top: 0;
	margin-bottom: 0;
	width: 50vw;
	height: 80vh;
	background: linear-gradient(
      to right bottom,
      rgba(102, 51, 0, 1),
      rgba(246, 254, 170, 0.8)
    )
}

#right-level-one {
	margin-top: 0;
	margin-bottom: 0;
	width: 50vw;
	height: 80vh;
}

.right-level-one__image {
	height: 100%;
	width: 100%;
}

#right-level-two {
	margin-top: 0;
	margin-bottom: 0;
	width: 65vw;
	height: 80vh;
}

#left-level-two {
	margin-top: 0;
	margin-bottom: 0;
	width: 35vw;
	height: 80vh;
	background: linear-gradient(
      to right bottom,
      rgba(102, 51, 0, 1),
      rgba(246, 254, 170, 0.8)
    )
}

.left-inners {
	color: black;
	margin: 2rem;
	padding: 1rem;
	font-family: 'Istok Web', sans-serif;
}

.left-inners .paragraphs {
	font-size: 1.2rem;
}

.left-inners .btn-large {
	margin-top: 1rem;
}

/* Team Page specific styles */

.team {
  text-align: center;
}

.team .team__text h1 {
  font-size: 5rem;
  color: rgba(102, 51, 0, 1);
  font-family: "Permanent Marker", cursive;
}

.team .team__table .card {
  margin: 2rem;
}


/* About us specific styles */

.headerAboutUs {
  font-size: 5rem;
  color: rgba(102, 51, 0, 1);
  font-family: "Permanent Marker", cursive;
  line-height: 5rem;
}

.contactUsContent {
  text-align: center;
}

.contactUsIcons {
  text-align: center;
}

.contactUsIconsInner {
  padding: 20px;
}

.contactUsForm {
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.contactUsFormItem {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 10px;
}

.input {
  text-align: center;
}

.inline {
  display: inline;
  width: 30%;
}

.firstName {
  display: inline-block;
  width: 45%;
}

.lastName {
  display: inline-block;
  width: 45%;
}

.miniPageHeaderPrint {
  height: 30vh;
  background-size: cover;
  background-position: top;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba(102, 51, 0, 1),
      rgba(246, 254, 170, 0.8)
    ),
    url(../img/leaves_green.jpeg);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.aboutUsParagraph {
  line-height: 2rem;
  text-align: center;
  font-size: 35px;
  padding: 10%;
}

.centerText {
  text-align: center;
}
/*
	Keyframes
*/

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); }
}
